html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; }
body {line-height:1; }
ol,ul {list-style:none; }
blockquote,q {quotes:none; }
blockquote:before,blockquote:after,q:before,q:after {content:''; content:none; }
table {border-collapse:collapse; border-spacing:0; }
a {outline:none; text-decoration: none; }

.gradient {
	filter: none;
}

b{
	font-weight: bold;
}

/****************** END RESET *****************/

html, body{
	width: 100%;
	height: 100%;
	/*background-color: #333;*/
	margin: 0;
	padding: 0;
}

.select-label{
	text-align: center;
}

#resultados{
	width: 100%;
	border-collapse: collapse;
}

/* Add alternating row stripes */
#resultados tbody tr:nth-child(odd) td,
#resultados tbody tr:nth-child(odd) th {
  background-color: rgba(0,0,0,0.04);
}

/* Add stroke to the header and last item */
#resultados thead th,
#resultados tbody tr:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.error{
	text-align: center;
	font-size: 22px;
}

#no-resultados{
	display: none;
	text-align: center;
	width: 100%;
}

/*********************************** ELIMINA ACELERACION GRAFICA EN GUI ANDROID *************************/

.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a {
text-shadow: none;
box-shadow: none;
	-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}